<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OpenSkinDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <OpenSkinDesigner.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="addUndefinedColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useFullAttribList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FallbackColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="ShowChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowChangesEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExperimentalDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineWrapping" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenSkinDesigner.Properties.Settings>
    </userSettings>
</configuration>
